<section class='generic-form'>
  <h2>Login</h2>
  <% if current_user %>
    You're already logged in, <%= current_user.username %>!
    <%= link_to "Sign Out", signout_path %>
  <% else %>
<%= form_for(@user) do |f| %>
    <div class="fields">
      <%= f.label :username %>
      <%= f.text_field :name, placeholder: "Name" %>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email adddress" %>
      <%= f.label :youtube %>
      <%= f.text_field :youtube, placeholder: "Youtube channel (optional)" %>
      <%= f.label :twitter %>
      <%= f.text_field :twitter, placeholder: "Twitter handle (optional)" %>
    </div>

    <div class="buttons">
      <%= f.submit "Submit", class: "affirm" %>
    </div>
    <%= link_to "Authorize Twitter", "/auth/twitter" %>
  <% end %>
</section>
