<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      <%= @known_experts_hash.map { |k,v| [k, v.length].to_s }.join(',').html_safe %>
    ]);

    var options = {
      'width': 350,
      'height': 400,
      'backgroundColor': { fill:'transparent' },
      'legend': {position: 'bottom'},
      'chartArea': {top:0,width:'100%',height:'80%'},
      'pieHole': 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>
<div id='user-wrapper'>
  <div id='aside-filler'>
    <h1><%= current_user.name %>'s Horizon</h1>

    <p>
      Your <strong>Horizon</strong> represents a beautiful and informative take on the organizations, publications, and people you follow on Twitter.
    </p>

    <div id="piechart-wrapper">
      <div id="piechart"></div>
    </div>
    <div id='user-show-right-wrapper'>
      <h2>Broaden your Horizon</h2>
      <p>
         Consider following these perspectives in the <strong><%= link_to @longest_name, "/?neo_id=#{Category.find_by(name: @longest_name).neo_id}", class: 'nav-horizon' %></strong> category:
      </p>
      <%= user_display(0) %>
      <%= user_display(1) %>
      <%= user_display(2) %>
      <div class='push'></div>
    </div>
  </div>
</div>


