<form action="/" method="get">
  <input id="neoid" name="neoid" type="hidden" value="<%= @neoid %>"></input>
  <input class="toggle-button" id="toggle-category-list" type="submit" value="Show Categories"></input>
</form>
<section id='search-buttons'>
  <!--<form action="/" method="get">
    <label>Search Node ID:</label>
    <input id="neoid" name="neoid" type="text" value="<%= @neoid %>"></input>
    <input class="button" id="loadnode" type="submit" value="Load"></input>
  </form>-->
  <form action="/" method="get">
    <input id="neoid" name="neoid" type="hidden" value="<%= @neoid %>"></input>
    <input class="category-button" id="loadnode" type="submit" value="Category Example"></input>
  </form>
  <form action="/" method="get">
    <input id="neoid" name="neoid" type="hidden" value="<%= @neoid %>"></input>
    <input class="category-button" id="loadnode" type="submit" value="Category Example"></input>
  </form>
  <form action="/" method="get">
    <input id="neoid" name="neoid" type="hidden" value="<%= @neoid %>"></input>
    <input class="category-button" id="loadnode" type="submit" value="Category Example"></input>
  </form>
  <form action="/" method="get">
    <input id="neoid" name="neoid" type="hidden" value="<%= @neoid %>"></input>
    <input class="category-button" id="loadnode" type="submit" value="Category Example"></input>
  </form>
  <form action="/" method="get">
    <input id="neoid" name="neoid" type="hidden" value="<%= @neoid %>"></input>
    <input class="category-button" id="loadnode" type="submit" value="Category Example"></input>
  </form>
  <form action="/" method="get">
    <input id="neoid" name="neoid" type="hidden" value="<%= @neoid %>"></input>
    <input class="category-button" id="loadnode" type="submit" value="Category Example"></input>
  </form>
</section>
