<div id='search'>
  <section id='info'>Click here to expand category selection</section>
  <form action="/" method="get">
    <input id="neoid" name="neoid" type="hidden" value="<%= @neoid %>"></input>
    <input class="toggle-button" id="toggle-category-list" type="submit" value=">>"></input>
  </form>
    <!--<form action="/" method="get">
      <label>Search Node ID:</label>
      <input id="neoid" name="neoid" type="text" value="<%= @neoid %>"></input>
      <input class="button" id="loadnode" type="submit" value="Load"></input>
    </form>-->
    <div id='search-buttons'>
      <form action="/" method="get">
        <input id="neoid" name="neoid" type="hidden" value="<%= neo_id_for(Category, 'Education') %>"></input>
        <input class="category-button" id="loadnode" type="submit" value="Education"></input>
      </form>
      <form action="/" method="get">
        <input id="neoid" name="neoid" type="hidden" value="<%= neo_id_for(Category, 'Science') %>"></input>
        <input class="category-button" id="loadnode" type="submit" value="Science"></input>
      </form>
      <form action="/" method="get">
        <input id="neoid" name="neoid" type="hidden" value="<%= neo_id_for(Category, 'Foreign Policy') %>"></input>
        <input class="category-button" id="loadnode" type="submit" value="Foreign Policy"></input>
      </form>
      <form action="/" method="get">
        <input id="neoid" name="neoid" type="hidden" value="<%= neo_id_for(Category, 'Health') %>"></input>
        <input class="category-button" id="loadnode" type="submit" value="Health"></input>
      </form>
      <form action="/" method="get">
        <input id="neoid" name="neoid" type="hidden" value="<%= neo_id_for(Category, 'Politics') %>"></input>
        <input class="category-button" id="loadnode" type="submit" value="Politics"></input>
      </form>
      <form action="/" method="get">
        <input id="neoid" name="neoid" type="hidden" value="<%= neo_id_for(Category, 'Social Justice') %>"></input>
        <input class="category-button" id="loadnode" type="submit" value="Social Justice"></input>
      </form>
      <form action="/" method="get">
        <input id="neoid" name="neoid" type="hidden" value="<%= neo_id_for(Category, 'Sports') %>"></input>
        <input class="category-button" id="loadnode" type="submit" value="Sports"></input>
      </form>
      <form action="/" method="get">
        <input id="neoid" name="neoid" type="hidden" value="<%= neo_id_for(Category, 'Technology') %>"></input>
        <input class="category-button" id="loadnode" type="submit" value="Technology"></input>
      </form>
      <form action="/" method="get">
        <input id="neoid" name="neoid" type="hidden" value="<%= neo_id_for(Category, 'Business') %>"></input>
        <input class="category-button" id="loadnode" type="submit" value="Business"></input>
      </form>
    </div>
</div>
