<div id='search'>
  <section id='nav-info'>
    <p>↖ Click to jump to a category</p>
  </section>
  <section id='aside-info'>
    <p>Clicking on a bubble will display<br>information in a draggable box</p>
    <span class='instruct-text'>Click anywhere to close</span>
  </section>
    <div id='search-buttons'>
      <%= neo_link_to 'Education' %>
      <%= neo_link_to 'Science' %>
      <%= neo_link_to 'Foreign Policy' %>
      <%= neo_link_to 'Health' %>
      <%= neo_link_to 'Politics' %>
      <%= neo_link_to 'Social Justice' %>
      <%= neo_link_to 'Sports' %>
      <%= neo_link_to 'Technology' %>
      <%= neo_link_to 'Business' %>
      <form>
        <input id='help-toggle' class="help-button" type="submit" value="Help"></input>
      </form>
    </div>
</div>
